
<%- include('header'); -%>

      <div class='container contact-form'>

        <form method="POST" action='/contact'>

          <h3 style="text-align: left;">Connect via email</h3>
          
            <%=msg%>

            <div class="row">

                <div class='col-md-4'>
                    <div class="form-group">
                        <input type='text' name='name' class='form-control', id='name', required='' value='' placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type='email', name='email' class='form-control', id='email', required='' value='' placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type='text', name='subject' class='form-control', id='subject', required='' value='' placeholder="Subject">
                    </div>
                  </div>
                <!-- Name , Email. Reason - Form[Label(input), Label(input),...]-->
        
                <!-- Message -->
                <div class='col-md-8'>
                    <textarea name='message' class='form-control', id='message', rows='11' cols='10'
                    placeholder="Message"></textarea>
                </div>

            </div>

            <button type="submit" class='btn btn-default submit-btn form-submit'>SEND</button>

        </form>

      </div>

    

<%- include('footer'); -%>