<footer class="footer">

    <div class="container">

        <div class='row'>

            <div class='col-md-3'>
                <li><a style="color: white;" href="#HOME">Home</a></li>
            </div>

            <div class='col-md-3'>
                <li><a style="color: white;" href="#ABOUT">About</a></li>
            </div>

            <div class='col-md-3'>
                <li><a style="color: white;" href="#PROJECT">Projects</a></li>
            </div>

            <div class='col-md-3'>
                <li><a style="color: white;" href="#CONTACT">Contact</a></li>
            </div>

            
        </div>

    </div>

</footer>


<!-- Bootstrap JavaScript -->
<script src='js/jquery.js'></script>

<script src="js/bootstrap4.min.js"></script>
</body>

</html>